#bot{
    text-align: right;
    align-content: right;
    word-break: break-all;
    padding-left : 50px;
}
#bottext{
    word-break: break-all;
    background-color: aquamarine
}
#my{
    text-align: left;
    word-break: break-all;
    padding-right : 50px;
}
#mytext{
    word-break: break-all;
    background-color: azure
}

#chat{
    border-left: 150px;
    border-right : 150px;
    border-top : 100px;
    border-bottom : 100px;
    width: 800px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

#chatinput{
    width: 800px;
}