#bot{
    margin-top : 3px;
    margin-bottom : 3px;
    transform-origin: right;
    float : right;
    word-break: break-all;
}
#bottext{
    margin-top : 3px;
    margin-bottom : 3px;
    transform-origin: right;
    word-break: break-all;
    background-color: aquamarine;
    float : right;
    width : 500px;
    font-size : 13px;
}
#my{
    margin-top : 3px;
    margin-bottom : 3px;
    transform-origin: left;
    float : left;
    word-break: break-all;
}
#mytext{
    margin-top : 3px;
    margin-bottom : 3px;
    transform-origin: left;
    word-break: break-all;
    background-color: azure;
    float : left;
    width : 500px;
    font-size : 13px;
}

#chat{
    border-left: 150px;
    border-right : 150px;
    border-top : 100px;
    border-bottom : 100px;
    width: 800px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

#chatinput{
    width: 800px;
}

ul{
    list-style-type: none;
}
